<h2>書品詳細</h2>

<%= image_tag @item.get_image(80,80) %>
<h2>商品名</h2>
<%= @item.name %></br>
<h2>商品紹介</h2>
<%= @item.introduction %></br>
<h2>ジャンル</h2>
<%= @item.genre.name %></br>
<h2>税込価格(税抜価格)</h2>
<%= @item.price * 1.1 %> (<%= @item.price %>) 円</br>
<h2>販売ステータス</h2>
<% if @item.is_active == true %>
  <h2>販売中</h2>
<% else %>
  <h2>販売停止中</h2>
<% end %>
<%= link_to edit_admin_item_path(@item.id) do %>
  <h2>編集する</h2>
<% end %>
