<div class="container">
 <div class="row m-4">
  <h3>  
    <span class="bg-secondary px-2">管理者ログイン</span><br>
  </h3>
 </div>
 <div class="row justify-content-md-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
      <%= f.label :"メールアドレス　　" ,class:"text-align"%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"sample@example.com", size: 40 %><br />
  
      <%= f.label :"パスワード　　　　" %>
      <%= f.password_field :password, autocomplete: "current-password", size: 40 %><br />
      <%= f.submit "ログイン",class:"btn btn-primary" %></br>
    
  <% end %>
 </div>
  <%= render "admin/shared/links" %>
</div>