<h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <h4>会員ID</h4>
  <%= @customer.id %></br>
  <h4>氏名</h4>
  <%= f.text_field :first_name %> <%= f.text_field :last_name %></br>
  <h4>フリガナ</h4>
  <%= f.text_field :first_name_kana %> <%= f.text_field :last_name_kana %></br>
  <h4>郵便番号</h4>
  <%= f.number_field :postal_code %></br>
  <h4>住所</h4>
  <%= f.text_area :address %></br>
  <h4>電話番号</h4>
  <%= f.number_field :telephone_number %></br>
  <h4>メールアドレス</h4>
  <%= f.email_field :email %></br>
  
  
  
  
  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, true %>
  <%= f.label :is_active, '有効', value: true %>
  
  <%= f.radio_button :is_active, false %>
  <%= f.label :is_active, '退会', value: false %>

  <%= f.submit '変更を保持' %>
<% end %>