
<h2>ジャンル一覧登録</h2>

<%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>

  <label for="genre_name">ジャンル名</label>　　
  <%= f.text_field :name %>　　
  <%= f.submit "新規登録", class:"btn btn-success" %>
<% end %>


<p>ジャンル</p>
<% @genres.each do |genre| %>
  <span><%= genre.name %></span> 
  <%= link_to edit_admin_genre_path(genre), class:'btn btn-outline-secondary btn-block' do %>
    <span>編集する</span>
  <% end %>
  
<% end %>