<div class="container">
  <div class="row m-3"> 
    <h3>  
      <span class="bg-secondary px-2">注文情報確認</span>
    </h3>
  </div>
  <div class="d-flex m-3">
    <div class="col-8 m-3">
      <table class="table table-hover table-inverse">
        <thead class="table-secondary">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody class="border">
          <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= image_tag cart_item.item.get_image(80,80) %>  <%= cart_item.item.name %></td>
                <td>
                  <%= cart_item.item.with_tax_price.to_s(:delimited) %>
                </td>
                <td>
                  <%= cart_item.amount %>
                </td>
                <td><%= cart_item.subtotal %></td>
              </tr>
              <!--商品合計-->
              <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4 m-3">
      <table class="border">
        <tr class="border">
          <td class="table-secondary">送料</th>
          <td><% @postage = 800  %><%= @postage %></th>
        </tr>
        <tr class="border">
          <td class="table-secondary">合計金額</th>
          <td><%= @sum  %></th>
        </tr>
        <tr class="border">
          <td class="table-secondary">請求金額</th>
          <td><% @billing_amount = @sum + @postage  %><%= @billing_amount.to_s(:delimited) %></th>
        </tr>
      </table>
    </div>
  </div>
  <%= form_with model:@order_info do |f| %>
    <%= f.hidden_field :name, value: @order_info.name %>
    <%= f.hidden_field :postage, value: @postage %>
    <%= f.hidden_field :billing_amount, value: @billing_amount %>
    <%= f.hidden_field :payment_method, value: @order_info.payment_method %>
    <strong><%= f.label :payment_method, "支払方法　　" %></strong>
    <%= @order_info.payment_method_i18n %></br>
    <%= f.hidden_field :status, value: 0 %>
    <strong><%= f.label :address, "お届け先　　" %></strong>
    〒<%= @order_info.postal_code %> <%= @order_info.address %></br>
    　　　　　　　<%= @order_info.name %>

    <%= f.hidden_field :postal_code, value:  @order_info.postal_code %>
    <%= f.hidden_field :address, value: @order_info.address %>
    <div class="text-center">
      <%= f.submit "注文を確定する" ,class:"btn btn-success"%>
    </div>
  <% end %>
</div>