<div class="container">
  <div class="row">
    <div class="col-4 p-3">
      <%= render 'layouts/genres', genres: @genres %>
    </div>
    <div class="col-8">
      <h1 class="p-3">商品一覧(全<%= @item_all.count %>件)</h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="p-4">  
          <% if item.is_active == true %>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(80,80) %>
            <% end %></br>
            <%= item.name%></br>
            ¥<%= item.price%>円</br>
          <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>